body {
    font-family: helvetiva, sans-serif;
    margin: 0px auto;
    border: none;
    position: right;
    height: 100%;
    min-height: 100%;

}

.navbar {
    background-color: #3a4c5d;
    height: 180px;
    border: none!important;
}

.navbar-brand{
    padding-top: 0px;
    padding-left: 50px;
}

.navbar-inverse {
    background-color: #3a4c5d;
    border: none!important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #daa622;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: white;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #daa622;
    background-color: #3a4c5d;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #daa622;
    background-color: #3a4c5d;
}

.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{
    background-color: #3a4c5d;
    border:none!important;
}

.navbar-toggle{
background-color: #3a4c5d;
color: white;
border: none!important;
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: #3a4c5d;
border:none!important;
color: white;
}

ul{
    list-style-type: none;
    padding-top: 80px;
    background-color: #3a4c5d;
}

li{
    font-family: "Verdana", sans-serif;
    font-style: italic;
    font-size: 14px;
    border-left: white solid 1px;
    margin-right: 20px;
    padding-left: 10px;
 
}

#bloco-texto{
    text-align: center;
    color: #3a4c5d;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    color: #3a4c5d;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3{
    color: #3a4c5d;
    text-align: center;
    font-style: italic;

}

h4{
    color: #3a4c5d;
    text-align: center;
    font-style: italic;

}

h2{
    color: #3a4c5d;
    text-align: center;
    font-style: italic;

}

a {
    font-family: "Verdana", sans-serif;
    color: #DAa622;
    text-decoration: none;
}

a:visited{
    color: #DAa622;
    text-decoration: none;
  

}

a:hover {

    color: #DAa622;
    text-decoration: none;
    
}

button{
    color: #DAa622;
    background-color: #3a4c5d;
}

label .campo {

    display: inline-block;
    width: 90px;
}

#container-roda{
    width: 100%;
    margin: 0!important;
}

#galeria{
    display: inline;
}

#galeria1{
    float: left;

}

#centro{
    width: 6em;
    background-color: #3a4c5d;
}



p.blocktext{
    margin-left: 0px;
    margin-right: 0px;
    width: 15em;
    text-align: center;
}

.galeria{
    display: block;
 margin-left: 0px;
 margin-right: 0px;
}

.galeria1{
    display: block;
 margin-left: 0px;
 margin-right: 20px;
}

@media (max-width: 380px) {
    .galeria{display: none;}
}